<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/img/weather.png">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This practice app is created using Express Js and core node js concepts. It uses data from mapbox.com and
      openweathermap.org </p>
    <img class="portrait" src="/img/robot.png" alt="robo" />
  </div>
  {{>footer}}
</body>

</html>